body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  text-align: center;
}
h2 {
  font-size: 28px;
  margin-top: 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px;
  margin: 20px auto;
}

.bikes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.bike-card {
  background-color: #f0f0f0;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 1rem;
  text-align: center;
}

.bike-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.bike-card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.bike-card p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.rent-summary {
  display: inline-block;
  width: 60%;
  margin-left: 5%;
  vertical-align: top;
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
}

.rent-summary h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.rent-summary p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.rent-summary span {
  font-weight: bold;
}
