{% extends 'base.html' %}
<h1>{% block title %} BikeHMO {% endblock %}</h1>
{% block content %}
<header>
  <h1>BIKEHMO</h1>
  <a href="#">Cerrar Sesión</a>
</header>
<main class="grid-container">
  <div class="bikes-container">
    <h2>Bicicletas Disponibles</h2>
    {% for key, value in bikes.items() %} {% if value %}
    <div class="bike-card">
      <h3>{{ key }}</h3>
      <img
        src="{{ url_for('static', filename='/img/bike.png') }}"
        alt="Bicicleta"
        class="img-fluid"
        style="border-radius: 1rem 1rem 1rem 1rem"
      />
      <p>Precio por hora: $20</p>
      <select>
        <option value="1">1 Hora</option>
        <option value="2">2 Horas</option>
        <option value="3">3 Horas</option>
        <option value="4">4 Horas</option>
      </select>
      <button class="rent-button" data="{{key}}">Rentar</button>
    </div>
    {% endif %} {% endfor %}
  </div>
  <div class="rent-summary">
    <h3>Resumen de renta</h3>
    <p>Bicicletas rentadas:<span id="rented_bikes">0</span></p>
    <div class="rent-summary-list">
      <ul id="rent_summary_list"></ul>
    </div>
    <p>Total a Pagar: $<span id="total-price">0</span></p>
    <button class="pay-button">Pagar</button>
  </div>
</main>
{% endblock %}
